<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/sponsors/' %} active {% endif %}"><a href="{{ "/sponsors/" | absolute_url }}">Sponsors</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/agenda/' %} active {% endif %}"><a href="{{ "/agenda/" | absolute_url }}">Agenda</a></li>
  <li class="{% if page.url contains '/gallery/' %} active {% endif %}"><a href="{{ "/gallery/" | absolute_url }}">Gallery</a></li>
  <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href=#footer class="scrolly">Contact</a></li>
</ul>
<a href="#" class="top"><i class="fa fa-chevron-up fa-2x"></i></a>
