<header>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <a href="http://www.stuurmanclassiccars.nl/" target="blank">
                    <img src="/images/sponsors/1.jpg" />
                    <h3>Stuurman Classic Cars.nl</h3>
                </a>
            </li>
            <li>
                <a href="http://www.janssenass.nl/" target="blank">
                    <img src="/images/sponsors/10.png" />
                    <h3>Bart Janssen Assurantien</h3>
                </a>
            </li>
            <li>
                <a href="https://www.catalina.nl/" target="blank">
                    <img src="/images/sponsors/11.png" />
                    <h3>Catalina USA Parts</h3>
                </a>
            </li>
            <li>
                <a href="http://www.vwclassics.nl/" target="blank">
                    <img src="/images/sponsors/6.jpg" />
                    <h3>VW Classic</h3>
                </a>
            </li>
            <li>
                <img src="/images/sponsors/12.jpg" />
                <h3>Hier kan uw bedrijf staan, voor inlichtingen bel 06-55120896</h3>
            </li>
        </ul>
        </div>
</header>
