<header>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <a href="http://www.stuurmanclassiccars.nl/" target="blank">
                    <img src="/images/sponsors/1.jpg" />
                    <h3>Stuurman Classic Cars.nl</h3>
                </a>
            </li>
            <li>
                <a href="http://www.janssenass.nl/" target="blank">
                    <img src="/images/sponsors/10.png" />
                    <h3>Bart Janssen Assurantien</h3>
                </a>
            </li>
            <li>
                <a href="https://www.catalina.nl/" target="blank">
                    <img src="/images/sponsors/11.png" />
                    <h3>Catalina USA Parts</h3>
                </a>
            </li>
        </ul>
        </div>
</header>
